* text=auto
*.cs text
*.unity text
*.prefab text
*.json text
*.asset text
*.mat text
*.anim text
*.meta text
*.controller text
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
